<!DOCTYPE html>
<html>
  <head>
    <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>

  <div class="container">
    <div class="row">
        <div class="col-xs-4 col-md-12">
         <h1>Weather dashboard will go here  </h1>
        </div>
    </div>
  </div>


  <div class="container">
  <div class="row">
      <div class="col-xs-4 col-md-12">

        <h3>For temperatures </h3>
      <% (40..80).step(10) do |n| %>
        <p> <%= "#{n} to #{n + 10}" %>-</p>
        <p>Average Number of rides in this range: <%= Condition.average_number_of_rides_from_temp(n) %></p>
        <p> Highest number of rides in this range: <%= Condition.highest_number_of_rides_from_temp(n) %></p>
        <p>Lowest number of rides in this range: <%= Condition.lowest_number_of_rides_from_temp(n) %></p>
      <% end %>
      </div>
  </div>
</div>

  <div class="container">
  <div class="row">
      <div class="col-xs-4 col-md-12">
        <h3>For precipitation ranges </h3>
      <% (0..2).step(0.5) do |n| %>
        <p> <%= "#{n} to #{n + 0.5 }" %>-</p>
        <p>Average Number of rides with this precipitation: <%= Condition.average_number_of_rides_from_prec(n) %></p>
        <p>Highest number of rides with this precipitation: <%= Condition.highest_number_of_rides_from_prec(n) %></p>
        <p>Lowest number of rides with this precipitation: <%= Condition.lowest_number_of_rides_from_prec(n) %></p>
      <% end %>
      </div>
  </div>
</div>

  <div class="container">
  <div class="row">
      <div class="col-xs-4 col-md-12">
        <h3>For precipitation ranges </h3>
      <% (0..2).step(0.5) do |n| %>
        <p> <%= "#{n} to #{n + 0.5 }" %>-</p>
        <p>Average Number of rides with this precipitation: <%= Condition.average_number_of_rides_from_prec(n) %></p>
        <p>Highest number of rides with this precipitation: <%= Condition.highest_number_of_rides_from_prec(n) %></p>
        <p>Lowest number of rides with this precipitation: <%= Condition.lowest_number_of_rides_from_prec(n) %></p>
      <% end %>
      </div>
  </div>
</div>








  </body>
</html>
