<!DOCTYPE html>
<html>
  <head>
    <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>

    <div class="container">
      <div class="row">
        <div class="col-xs-12">

      <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/conditions">Conditions</a></li>
        <li class="active"><%= @condition.date %></li>
      </ol>

      <h1>Edit your condition</h1>

      <form action="/conditions/<%= @condition.id %>" method="post">
        <p>Alter the details of your condition below</p>
        <input type="hidden" name="_method" value="PUT" />

          <div class="row">
            <div class="form-group col-lg-2 ">
              <label for="date">Date</label>
              <input type='date' class="form-control" name='condition[date]' value="<%= @condition.date %>"></input>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-lg-2 ">
              <label for="max_temperature_f">Max Temp</label>
              <input type='number'class="form-control" name='condition[max_temperature_f]' value="<%= @condition.max_temperature_f %>"></input>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-lg-2 ">
              <label for="min_temperature_f">Mean Temp</label>
              <input type='number' class="form-control" name='condition[mean_temperature_f]' value="<%= @condition.mean_temperature_f %>"></input>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-lg-2 ">
              <label for="mean_temperature_f">Min Temp</label>
              <input type='number' class="form-control" name='condition[min_temperature_f]' value="<%= @condition.mean_temperature_f %>"></input>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-lg-2 ">
              <label for="mean_humidity">Mean Humidity</label>
              <input type='number' class="form-control" name='condition[mean_humidity]' value="<%= @condition.mean_humidity %>"></input>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-lg-2 ">
              <label for="mean_visibility_miles">Mean Visibility</label>
              <input type='number' class="form-control" name='condition[mean_visibility_miles]' value="<%= @condition.mean_visibility_miles %>"></input>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-lg-2 ">
              <label for="max_wind_Speed_mph">Max Wind speed</label>
              <input type='number' class="form-control" name='condition[mean_wind_speed_mph]' value="<%= @condition.mean_wind_speed_mph %>"></input>
            </div>
          </div>

            <div class="sumbit_button" >
              <input id = "btn_submit" class="btn btn-success" type='submit'/>
            </div>

          </form>

        </div>
      </div>
    </div>

  </body>
</html>
