<!DOCTYPE html>
<html>
  <head>
    <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     <style>
        .btn-success{
          float:right;
          margin-top: 30px;
        }
      </style>
  </head>
  <body>

  <div class="container">
    <div class="row">
        <div class="col-xs-12">

         <ol class="breadcrumb">
              <li><a href="/">Home</a></li>
              <li class="active">Conditions</li>
          </ol>
          <a class="btn btn-success" href="/conditions/new"> Create new condition</a> 

        <h1>Weather conditions</h1>
        <p>Explore an overview of recent weather conditions</p>
        </div>
    </div>
  </div>


  <div class="container">
  <div class="row">
      <div class="col-xs-12">


       <table class="table table-striped ">
            <thead >
              <tr>
                <th>Condition date</th>
                <th>Max temperature</th>
                <th>Mean temperature</th>
                <th>Min temperature</th>
                <th>Mean humdity</th>
                <th>Mean visibility</th>
                <th>Mean wind speed</th>
                <th>Precipitation</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>   
              <% @conditions.each do |condition| %>  
                <tr>
                  <th scope="row"><a href ="/conditions/<%= condition.id %>" ><%= condition.date %></a></th>
                  <td><%= condition.max_temperature_f %></td>
                  <td><%= condition.mean_temperature_f %></td>
                  <td><%= condition.min_temperature_f %></td>
                  <td><%= condition.mean_humidity %></td>
                  <td><%= condition.mean_visibility_miles %></td>
                  <td><%= condition.mean_wind_speed_mph %></td>
                  <td><%= condition.precipitation_inches.to_f%></td>
                  <td><a class="btn btn-warning" href='/conditions/<%= condition.id  %>/edit'>Edit</a></td>
                  <td>  
                    <form action="/conditions/<%= condition.id %>" method="POST">
                      <input type="hidden" name="_method" value="DELETE">
                      <input class = "btn btn-danger" type="submit" value="Delete"/>
                    </form>
                  </td>
                </tr>
              <% end %>
             
            </tbody>
          </table>


      </div>
  </div>
</div>


<%= will_paginate @conditions, :page_links => false %>


  </body>
</html>
