<h1><a href="/conditions">Conditions</a></h1>

<label for="date">Date</label>
<h3><%= @condition.date %></h3>

<label for="max_temperature_f">Max Temp</label>
<h3><%= @condition.max_temperature_f %></h3>

<label for="min_temperature_f">Mean Temp</label>
<h3><%= @condition.mean_temperature_f %></h3>

<label for="mean_temperature_f">Min Temp</label>
<h3><%= @condition.mean_temperature_f %></h3>

<label for="mean_humidity">Mean Humidity</label>
<h3><%= @condition.mean_humidity %></h3>

<label for="mean_visibility_miles">Mean Visibility</label>
<h3><%= @condition.mean_visibility_miles %></h3>

<label for="max_wind_Speed_mph">Max Wind speedd</label>
<h3><%= @condition.mean_wind_speed_mph %></h3>
