<!DOCTYPE html>
<html>
  <head>
    <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>

  <div class="container">
    <div class="row">
        <div class="col-xs-4 col-md-12">

        <h1>Station Dashboard</h1>

        </div>
    </div>
  </div>


  <div class="container">
  <div class="row">
      <div class="col-xs-4 col-md-12">

      <p><strong>Average Trip Length: </strong><%= @trips.average_trip_length %></p>

      <p><strong>Longest Ride: </strong><%= @trips.longest_ride%></p>

      <p><strong>Shortest Ride: </strong><%= @trips.shortest_ride%></p>


      <p><strong>Station with most rides at start: </strong><%= @trips.shortest_ride%></p>

      <p><strong>Station with most rides at start: </strong><%= @trips.station_with_most_rides_at_start%></p>
      <p><strong>Station with most rides at end: </strong><%= @trips.station_with_most_rides_at_end%></p>
      <p><strong>Trips per month: </strong><%= @trips.trips_per_month%></p>


      </div>
  </div>
</div>







  </body>
</html>
