<!DOCTYPE html>
<html>
  <head>
    <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <style>
        .btn-success{
          float:right;
          margin-top: 30px;
        }
      </style>
  </head>
  <body>

  <div class="container">
    <div class="row">
        <div class="col-xs-12">

          <ol class="breadcrumb">
              <li><a href="/">Home</a></li>
              <li class="active">Trips</li>
          </ol>
          <a class="btn btn-success" href="/trips/new"> Create new trip</a> 

        <h1>Trip details</h1>
          <p>Explore an overview of recent trip details</p>
        </div>
    </div>
  </div>


  <div class="container">
  <div class="row">
      <div class="col-xs-12">


          <table class="table table-striped ">
            <thead >
              <tr>
                <th>Duration</th>
                <th>Start date</th>
                <th>Start station</th>
                <th>End date</th>
                <th>End station</th>
                <th>Bike id</th>
                <th>Subscription type</th>
                <th>Zip code</th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            
              <% @trips.each do |trip| %>
                <tr>
                  <th scope="row"><%=trip.duration %></th>
                  <td><%= trip.start_date %></td>
                  <td><%= trip.start_station_name %></td>
                  <td><%= trip.end_date %></td>
                  <td><%= trip.end_station_name %></td>
                  <td><%= trip.bike_id %></td>
                  <td><%= trip.subscription_type %></td>
                  <td><%= trip.zip_code %></td>
                  <td><a class="btn btn-warning" href='/trips/<%= trip.id  %>/edit'>Edit</a></td>
                  <td><a class="btn btn-info" href='/trips/<%= trip.id  %>'>View</a></td>
                  <td>
                    <form action="/trips/<%= trip.id %>" method="POST">
                      <input type="hidden" name="_method" value="DELETE">
                      <input class = "btn btn-danger"type="submit" value="Delete"/>
                    </form>
                  </td>
                </tr>
              <% end %>
             
            </tbody>
          </table>


        <%= will_paginate @trips, :page_links => false %>

    



      </div>
  </div>
</div>





  </body>
</html>
