<head>
  <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<h1><a href="/trips">Trips Index</a></h1>

<label for="duration">Duration</label>
<p><%= @trip.duration %></p>

<label for="start_date">Start Date</label>
<p><%= @trip.start_date %></p>

<label for="start_station_name">Start Station</label>
<p><%= @trip.start_station_name %></p>

<label for="end_date">End Date</label>
<p><%= @trip.end_date %></p>

<label for="end_station_name">End Station</label>
<p><%= @trip.end_station_name %></p>

<label for="bike_id">Bike ID</label>
<p><%= @trip.bike_id %></p>

<label for="subscription_type">Subscription</label>
<p><%= @trip.subscription_type %></p>

<label for="zip_code">Zip Code</label>
<p><%= @trip.zip_code %></p>
