<!DOCTYPE html>
<html>
  <head>
    <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>

    <div class="container">
      <div class="row">
        <div class="col-xs-12">

          <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="/trips">Trips</a></li>
            <li class="active"><%= @trip.id %></li>
          </ol>

          <h1><%= @trip.start_station_name %> <i class="fa fa-arrow-right fa-fw" aria-hidden="true"></i><%= @trip.end_station_name%></h1>

          <table class="table table-striped">
            <thead>
              <tr>
                <th>Duration</th>
                <th>Start date</th>
                <th>End date</th>
                <th>Bike ID</th>
                <th>Subscription type</th>
                <th>Zip code</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row"><%= @trip.duration %></th>
                <td><%= @trip.start_date %></td>
                <td><%= @trip.end_date %></td>
                <td><%= @trip.bike_id %></td>
                <td><%= @trip.subscription_type %></td>
                <td><%= @trip.zip_code %></td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>  
    </div>    

  </body>
</html>