<!DOCTYPE html>
<html>
  <head>
    <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   
  </head>
  <body>

  <div class="container">
    <div class="row">
        <div class="col-xs-12">

          <ol class="breadcrumb">
              <li><a href="/">Home</a></li>
              <li><a href="/stations">Stations</a></li>
              <li class="active">Station Dashboard</li>
          </ol>

          <h1>Station Dashboard</h1>
          <p>Explore data analytics for stations in your area</p>

        </div>
    </div>
  </div>


  <div class="container">
  <div class="row">
      <div class="col-xs-12">


        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Total station count</h3>
          </div>
          <div class="panel-body">
           <p><%= @stations.count %></p>
          </div>
        </div>
     

       <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Average bikes per station</h3>
          </div>
          <div class="panel-body">
           <p><%= @stations.average_dock_count%></p>
          </div>
        </div>
        

      <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title">Most bikes per station</h3>
          </div>
          <div class="panel-body">
           <p><%= @stations.maximum_dock_count%></p>
          </div>
        </div>

     
        <div class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title">Least bikes per station</h3>
          </div>
          <div class="panel-body">
           <p><%= @stations.minimum_dock_count%></p>
          </div>
        </div>

       <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Most recently installed station</h3>
          </div>
          <div class="panel-body">
           <p><%= @stations.recently_installed_station %></p>
          </div>
        </div>

  
       <div class="panel panel-warning">
          <div class="panel-heading">
            <h3 class="panel-title">Oldest station</h3>
          </div>
          <div class="panel-body">
           <p><%= @stations.oldest_station %></p>
          </div>
        </div>


        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title">Stations with most number of bikes</h3>
          </div>
          <div class="panel-body">
            <% @stations.stations_with_max_bikes.each  do |station| %>
              <p><%= station.name %></p>
            <%end%>
          </div>
        </div>

        <div class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title">Stations with least number of bikes</h3>
          </div>
          <div class="panel-body">
            <% @stations.stations_with_min_bikes.each  do |station| %>
              <p><%= station.name %></p>
            <%end%>
          </div>
        </div>
         

     
      <% if false %>
      <p><strong>Total Station Count :</strong><p><%= @stations.count %></p></p>
      <p><strong>Average Bikes per station: </strong><p><%= @stations.average_dock_count%></p></p>
      <p><strong>Most Bikes availble per station:</strong> <p><%= @stations.maximum_dock_count%></p></p>

      <p><strong>Stations with most number of bikes:</strong> </p>
          <% @stations.stations_with_max_bikes.each  do |station| %>
            <p><%= station.name %></p>
          <%end%>

      <p><strong>Least Bikes availble per station:</strong><p> <%= @stations.minimum_dock_count%></p></p>

      <p><strong>Stations with least number of bikes:</strong> </p>
          <% @stations.stations_with_min_bikes.each  do |station| %>
           <p><%= station.name %></p>
          <%end%>

      <p><strong>Most recently installed station :</strong>  <p><%= @stations.recently_installed_station %></p></p>

      <p><strong>Oldest station :</strong>  <p><%= @stations.oldest_station %></p></p>
      <% end %>
     
      </div>
  </div>
</div>




 

  </body>
</html>
