<!DOCTYPE html>
<html>
  <head>
    <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>

  <div class="container">
    <div class="row">
        <div class="col-xs-4 col-md-12">

        <h1>Bike Station Details</h1>
        <h4><em>Explore the stations near you</em></h4>

        </div>
    </div>
  </div>


  <div class="container">
  <div class="row">
      <div class="col-xs-4 col-md-12">

      <% @stations.each do |station| %>
        <ul class = "list-group">
          <li class = "list-group-item">
            <a href ="/stations/<%= station.id %>" ><h3><%= station.name %></h3></a>
            <p> Dock Count: <strong><%= station.dock_count %></strong> </p>
            <p> City: <strong><%= station.city %></strong></p>
            <p> Installation Date: <strong><%= station.installation_date %></strong> </p>

            <a href='/stations/<%= station.id  %>/edit'>Edit</a>

            <form action="/stations/<%= station.id %>" method="POST">
              <input type="hidden" name="_method" value="DELETE">
              <input class = "btn btn-danger"type="submit" value="delete"/>
            </form>

          </li>
        </ul>

      <% end %>

      <ul class = "list-group">
        <li class = "list-group-item"><a href="/stations/new"> Create a new station</a></li>
      </ul>

      </div>
  </div>
</div>







  </body>
</html>
