<h1><a href="/stations">Station Index</a></h1>

<label for="name">Name</label>
<h3><%= @station.name %></h3>

<label for="dock_count">Dock Count</label>
<p><%= @station.dock_count %></p>

<label for="city">City</label>
<p><%= @station.city %></p>

<label for="installation_date">Installation Date</label>
<p><%= @station.installation_date %></p>

<h3>Further station info:</h3>

<p><strong>Number of rides started at this station:</strong></p>
<p><%= @trips.number_of_rides_started_at_this_station(@station.id)[-1] %></p>
<p><strong>Number of rides ended at this station:</strong></p>
<p><%= @trips.number_of_rides_ended_at_this_station(@station.id)[-1] %></p>
<p><strong>Most frequent destination station:</strong></p>
<p><%= @trips.most_frequent_destination(@station.id) %></p>
<p><strong>Most frequent origination station:</strong></p>
<p><%= @trips.most_frequent_origination(@station.id) %></p>
