<!DOCTYPE html>
<html>
  <head>
    <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>

    <div class="container">
      <div class="row">
        <div class="col-xs-12">

          <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="/stations">Stations</a></li>
            <li class="active"><%= @station.name %></li>
          </ol>



          <h1><%= @station.name %></h1>

          <table class="table table-striped">
            <thead>
              <tr>
                <th>Dock count</th>
                <th>City</th>
                <th>Installation date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row"><%= @station.dock_count %></th>
                <td><%= @station.city %></td>
                <td><%= @station.installation_date %></td>
              </tr>
            </tbody>
          </table>

          <% if @trips.count > 0%>
            <div class="panel panel-default">
              <div class="panel-heading">Number of rides started at this station</div>
              <div class="panel-body">
                <%= @trips.number_of_rides_started_at_this_station(@station.id) %>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">Number of rides ended at this station</div>
              <div class="panel-body">
                <%= @trips.number_of_rides_ended_at_this_station(@station.id) %>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">Most frequent destination station</div>
              <div class="panel-body">
                <%= @trips.most_frequent_destination(@station.id) %>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">Most frequent origination station</div>
              <div class="panel-body">
               <%= @trips.most_frequent_origination(@station.id) %>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">Date with highest number of trips</div>
              <div class="panel-body">
               <%= @trips.date_with_highest_number_of_trips_started_at_this_station(@station.id) %>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">Most frequent zip code for users starting trips</div>
              <div class="panel-body">
               <%= @trips.most_frequent_zip_code_for_users_starting_trips_at_this_station(@station.id) %>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">Bike most frequently used when starting a trip</div>
              <div class="panel-body">
               <%= @trips.bike_id_most_frequently_starting_a_trip_at_this_station(@station.id) %>
              </div>
            </div>

          <%end%>
          <h3><%=@station.name%></h3>
            <p>Find your station below</p>
            <div id="googleMap" style="width:100%;height:400px;"></div>

            <script>
              function loadMap() {

                var mapOptions = {
                  center:new google.maps.LatLng(<%= @station.lat %>, <%= @station.long %>),
                  zoom:15
                }

                var map = new google.maps.Map(document.getElementById("googleMap"),mapOptions);

                var marker = new google.maps.Marker({
                  position: new google.maps.LatLng(<%= @station.lat %>, <%= @station.long %>),
                  map: map,
                });
              }
            </script>


            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAF3Owq_bKBfX6gB0Qcy3KT21SCXB-_UJE&callback=loadMap"></script>

        </div>
      </div>
    </div>
