<h1>Bikes and stations and all that</h1>

<% @stations.each do |station| %>
  <p><a href="/stations/<%= station.id %>" </a> <%= station.name %></p>
  <p><%= station.dock_count %></p>
  <p><%= station.city %></p>
  <p><%= station.installation_date %></p>
  <a href='/stations/<%= station.id  %>/edit'>Edit</a>
  <form action="/stations/<%= station.id %>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="delete"/>
  </form>
<% end %>

<a href="/stations/new"> Create a new station</a>
